$rich-black: #0d1f2dff;
$dutch-white: #e4d6a7ff;
$myrtle-green: #377771ff;
$raw-umber: #8a6552ff;
$rofous: #A30300;

$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;