@import "./variables";

*{
    font-family: $font;
}

#navbar{
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $rich-black;
        border-style: solid;
        border-width: 2px;
        border-color: $raw-umber;
    }

    li{
        float: left;
        a{
            display: block;
            color: $dutch-white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        &:hover{
            background-color: $raw-umber;
        }
    }

}