@import "./variables";

$spacing: 20em;

*{
    font-family: $font;
}

body{
    background-color: $rich-black;
}

#header{
    text-align: center;
    color: $dutch-white;
    font-size: larger;
}

#container{
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    justify-content: center;
    color: $dutch-white; //text color

    #left-box{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
        background-color: $myrtle-green;
        padding: 50px;
        border-radius: 10px;
        border: 2px solid $dutch-white;
        margin-right: $spacing;
    }

    #right-box{
        display: flex;
        flex-flow: column nowrap;
        background-color: $raw-umber;
        padding: 50px;
        border-radius: 10px;
        border: 2px solid $dutch-white;
        margin-right: $spacing;
        width: 250px;
    }
}
